{% extends "base.html" %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex w-screen justify-center">
  <div class="w-7/8 max-w-xs lg:w-1/2 lg:max-w-none pt-8 place-items-center">
    <div class="card h-full w-full rounded-xl border border-gray-600 border-solid place-items-center">
      <p class="p-4 text-center">Your password has been reset. You may log in now.</p>
      <div class="card-actions mb-4">
        <a id="login-button" href="{% url 'login' %}" class="btn btn-primary border-0 w-24 mr-2">Log in</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}