<!--
Copyright 2022 Owen M. Jones. All rights reserved.

This file is part of MemberZone.

MemberZone is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License 
as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

MemberZone is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with MemberZone. If not, see <https://www.gnu.org/licenses/>.
-->
{% extends 'email_base.html' %}

{% block content %}
  <h1 style="color:#1e1e2d; font-weight:500; margin:0; font-size:32px; font-family:'Rubik',sans-serif;">
    Welcome to MemberZone</h1>
  <span style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
  <p style="color:#455056; font-size:15px; line-height:24px; margin: 0 0 24px;">
    Hello! You have successfully signed up to MemberZone,
    the site which allows you to keep track of all your memberships and subscriptions
    in one place and to receive reminders when subscriptions or free trials are about
    to lapse. The link below will take you to the login page.
  </p>
  <a target="_blank"
     style="text-decoration:none; background-color: #1e1e2d; color: #fff; padding:10px 10px; border-radius:5px; display:block;"
     href="{{ protocol }}://{{ domain }}{% url 'login' %}">
    <strong>Log in</strong>
  </a>
{% endblock %}
