<!--
Copyright 2022 Owen M. Jones. All rights reserved.

This file is part of MemberZone.

MemberZone is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License 
as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

MemberZone is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with MemberZone. If not, see <https://www.gnu.org/licenses/>.
-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="card items-center pt-8">
    <table class="table table-fixed w-screen md:w-3/4 xl:w-1/2 w-full">
      <!-- head -->
      <thead>
      <tr>
        <th class="pl-2 text-left">Membership</th>
        <th class="p-0">Subscription</th>
        <th class="p-0">Renewal</th>
        <th class="p-0 w-16">Cost</th>
      </tr>
      </thead>
      <tbody class="flex-1 sm:flex-none">
      {% for item in data %}
        <tr>
          <th class="pl-2 truncate text-left">{{ item.name }}</th>
          <td class="p-0">{{ item.period }}</td>
          <td class="p-0">{{ item.date }}</td>
          <td class="p-0">{{ item.cost }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <div class="card-body items-center text-center -mt-2">
      <p class="text-lg font-semibold">
        Keep track of all your memberships and subscriptions in one place.<br/>
        Get reminders to cancel your free trials before they lapse!
      </p>
      <div class="card-actions mt-2">
        {% if user.is_authenticated %}
          <a href="{% url 'my-memberships' %}" class="btn border-0">Get Started</a>
        {% else %}
          <a href="{% url 'login' %}" class="btn btn-primary border-0">Get Started</a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock content %}
