{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card items-center pt-8">
      <h2 class="text-xl text-center w-3/4">Welcome to MemberZone! Here are your memberships.</h2>
      <div class="divider w-1/2 mx-auto"></div>
      <div class="flex flex-row w-screen md:w-3/4 xl:w-1/2 overflow-auto">
        <table class="table table-fixed grow">
          <thead>
            <tr>
              <th>Membership</th>
              <th>Subscription</th>
              <th>Renewal</th>
              <th class="p-0 hidden sm:table-cell">Reminder</th>
              <th class="hidden sm:table-cell">Cost</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="bg-white">Netflix</th>
              <td>Monthly</td>
              <td>12/07/2022</td>
              <td class="hidden sm:table-cell items-center">
                <input type="checkbox" id="reminder-check" class="checkbox"/>
              </td>
              <td class="hidden sm:table-cell">£14.99</td>
            </tr>
          </tbody>
        </table>
        <a href="#modal-form" class="mx-auto md:ml-2 btn btn-square bg-blue-600 border-0 basis-14">NEW</a>
      </div>
    </div>

<div class="modal" id="modal-form">
  <div class="modal-box">
    <h3 class="font-bold text-lg">New membership</h3>
    <p class="py-4">Fill in the details of your subscription below</p>
    <div class="modal-action">
      <a href="#" class="btn">Save</a>
    </div>
  </div>
</div>
{% endblock %}