{% extends 'base.html' %}

{% block content %}
  <div class="card card-compact w-7/8 lg:w-1/2 mx-auto">
    <div class="card-body">
      <h2 class="card-title justify-center">Privacy Policy</h2>
      <p class="text-justify">
        This Privacy Policy describes what data we collect from you in the course of your use of this website, and the
        conditions in which this data is stored, accessed, retrieved and removed from our systems. You agree that by
        accessing this website, you have read, understood and agree to the use of your data as described in this
        Privacy Policy. If you do not agree to any of the terms of this Privacy Policy, you are prohibited from using
        this website and must discontinue use immediately.
      </p>
      <h3 class="text-md pt-2 font-semibold">What data do we collect?</h3>
      <ul class="list-disc">
        <li class="ml-4">
          When you register as a user of this website, we collect the e-mail address which you communicate to us.
        </li>
        <li class="ml-4">
          We collect data which you communicate to us in the course of your use of this website. Such data may include
          the names, URLs, personally identifying numbers, expiry or renewal dates and terms, and costs associated with
          memberships or subscriptions, the details of which you communicate to us using the interface of this website.
        </li>
        <li class="ml-4">
          We collect the reply address, subject and text of any messages you send to us using the communication
          facilities and features provided by and through this website.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">How we will use your data</h3>
      <ul class="list-disc">
        <li class="ml-4">
          We will only use your data to ensure the normal operation and functioning of this website, including sending
          communications to you by e-mail where necessary to ensure the proper function of the website.
        </li>
        <li class="ml-4">
          Whenever you interact with this website as a logged-in user, we may use the information you have communicated
          to us to enhance your experience, including by pre-filling form fields with your data as appropriate.
        </li>
        <li class="ml-4">
          We will never sell or communicate any of the data you have provided to us to any third party, except to
          relevant law-enforcement agencies where required by the laws and regulations governing the jurisdiction of
          this website.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">How we will store your data</h3>
      <ul class="list-disc">
        <li class="ml-4">
          Your e-mail address and data about your memberships and subscriptions will be stored in a database hosted by
          our chosen cloud service provider. We reserve the right to change cloud service provider at any time,
          including changing to a provider domiciled or with data storage facilities situated in a different
          jurisdiction from the previous provider.
        </li>
        <li class="ml-4">
          Your data will be stored securely, protected by the security measures of the chosen cloud service provider
          which may include passwords, one-time passwords, biometric identification, security keys, access tokens or
          any combination of these. We will make every reasonable effort to ensure that these security measures are not
          compromised, however we cannot be held liable for any theft, loss or corruption of data howsoever caused,
          including loss or corruption as a result of these security measures being compromised.
        </li>
        <li class="ml-4">
          We will store your data indefinitely as long as you have recurring membership or subscription details
          associated with your account. If you no longer have any recurring membership or subscription details
          associated with your account, we will store your data for a period of up to two (2) years from the last
          expiry date of any membership or subscription associated with your account.
        </li>
        <li class="ml-4">
          Data associated with e-mails or messages which you communicate to us using the communication facilities and
          features provided by and through this website will be stored on the servers of our chosen e-mail service
          provider for as long as necessary for us to consider the matter resolved. We will delete e-mail conversations
          within thirty (30) days once we consider the matter resolved.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Your data protection rights</h3>
      <p class="text-justify">
        You have certain rights concerning the use, storage and dissemination of your data. These are outlined below:
      </p>
      <ul class="list-disc">
        <li class="ml-4">
          <strong>The right to access –</strong> You have the right to request copies of your personal data from us.
          We may charge you a small fee for this service.
        </li>
        <li class="ml-4">
          <strong>The right to rectification –</strong> You have the right to request that we correct any information
          you believe is inaccurate. You also have the right to request that we complete any information you believe is
          incomplete.
        </li>
        <li class="ml-4">
          <strong>The right to erasure –</strong> You have the right to request that we erase your personal data, under
          certain conditions.
        </li>
        <li class="ml-4">
          <strong>The right to restrict processing –</strong> You have the right to request that we restrict the
          processing of your personal data, under certain conditions.
        </li>
        <li class="ml-4">
          <strong>The right to object to processing –</strong> You have the right to object to our processing of your
          personal data, under certain conditions.
        </li>
        <li class="ml-4">
          <strong>The right to object to data portability –</strong> You have the right to request that we transfer the
          data that we have collected to another organization, or directly to you, under certain conditions.
        </li>
      </ul>
      <p class="text-justify">
        If you make a request, we have one month to respond to you. If you would like to exercise any of these rights,
        please contact us by e-mail: <strong>admin@{{ root_domain }}</strong>.
      </p>
      <h3 class="text-md pt-2 font-semibold">Cookies</h3>
      <p class="text-justify">
        Cookies are text files placed on your computer to collect standard internet log information and visitor
        behaviour information. When you visit this website, we may collect information from you automatically through
        cookies or similar technology.
      </p>
      <p class="text-justify">
        For further information, visit
        <a class="link hover:font-semibold" href="https://www.allaboutcookies.org" target="_blank">
          allaboutcookies.org</a>.
      </p>
      <h3 class="text-md pt-2 font-semibold">What cookies do we use?</h3>
      <ul class="list-disc">
        <li class="ml-4">
          We use functionality, or session, cookies to recognize you on this website and to remember your previously
          selected preferences and logged-in status.
        </li>
        <li class="ml-4">
          We do NOT use advertising or tracking cookies (cookies which track your navigation between different sites).
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">How to manage cookies</h3>
      <p class="text-justify">
        You can set your browser to not accept cookies, and the website
        <a class="link hover:font-semibold" href="https://www.allaboutcookies.org" target="_blank">
          allaboutcookies.org</a>
        tells you how to remove cookies from your browser. However, if you do so, some features of this website may not
        work.
      </p>
      <h3 class="text-md pt-2 font-semibold">Privacy policies of other websites</h3>
      <p class="text-justify">
        This website may contain links to other websites. Our privacy policy applies only to this website, so if you
        click on a link to another website, you should read their privacy policy.
      </p>
      <h3 class="text-md pt-2 font-semibold">Changes to our privacy policy</h3>
      <p class="text-justify">
        We keep our privacy policy under regular review and place any updates on this webpage. This privacy policy was
        last updated on 19 July 2022.
      </p>
      <h3 class="text-md pt-2 font-semibold">Contact Us</h3>
      <p class="text-justify">
        If you have any questions about this Privacy Policy, the data we hold on you, or you would like to
        exercise one of your data protection rights, please do not hesitate to contact us:<br/>
        <strong>E-mail:</strong> admin@{{ root_domain }}<br/>
        <strong>Telephone:</strong> +33 7 83 68 61 39
      </p>
      <h3 class="text-md pt-2 font-semibold">Contact the supervisory authority</h3>
      <p class="text-justify">
        Should you wish to report a complaint or if you feel that we have not addressed your concerns in a satisfactory
        manner, you may contact the
        <a class="link hover:font-semibold" href="https://www.cnil.fr/fr/adresser-une-plainte" target="_blank">
          Commission Nationale de l'Informatique et des Libertés</a> (in French).<br/>
        Address: 8 rue Vivienne, CS 30223, F-75002 Paris, Cedex 02.<br/>
        Telephone: +33 1 53 73 22 22.
      </p>
    </div>
  </div>
{% endblock %}