{% extends 'base.html' %}

{% block content %}
  <div class="card card-compact w-7/8 lg:w-1/2 mx-auto">
    <div class="card-body">
      <h2 class="card-title justify-center">Terms and Conditions</h2>
      <p class="text-justify">
        These Terms and Conditions constitute a legally binding agreement between you ('you', 'your') as the user
        of the website <a class="link hover:font-semibold" href="{% url 'index' %}">www.member-zone.com</a>
        ('the/this website') and Owen M. Jones ('we', 'us', 'our'), acting in an individual capacity as the
        developer and administrator of the website. You agree that by accessing this website, you have read, understood
        and agree to be bound by all of these Terms and Conditions. If you do not agree to be bound by any of these
        Terms and Conditions, then you are prohibited from continuing to use this website and must discontinue use
        immediately.
      </p>
      <p class="text-justify">
        We reserve the right to modify these Terms and Conditions at our sole discretion at any time. We will notify
        you of any such modification by e-mail at least seven (7) days in advance. If you do not agree to be bound by
        the modified Terms and Conditions, you must notify us using the contact details contained in these Terms and
        Conditions at least one (1) day before the effective date of modification. As a consequence of your refusal to
        be bound by the modified Terms and Conditions, we may suspend or terminate your account.
      </p>
      <p class="text-justify">
        You have the right to withdraw your consent to be bound by the present Terms and Conditions at any time by
        notifying us using the contact details contained in these Terms and Conditions. You must discontinue use of
        this website from the moment that you notify us of such withdrawal of consent. As a consequence of your
        withdrawal of consent, we will terminate your account and remove all sensitive data and personally identifying
        information from our systems and from the systems of any cloud service providers used by us within a reasonable
        period.
      </p>
      <h3 class="text-md pt-2 font-semibold">Eligibility to Use This Website</h3>
      <ul class="list-disc">
        <li class="ml-4">
          By continuing to use this website, you warrant that you are not a minor in the jurisdiction in which you
          reside, and that you are capable of entering into a legally binding agreement.
        </li>
        <li class="ml-4">
          When registering for this website you are required to choose a password. You agree to keep your password
          confidential and will be responsible for all use of your account and password.
        </li>
        <li class="ml-4">
          You agree not to use the website for any illegal or unauthorised purpose, or to access or use the website in
          a manner which violates any applicable law or regulation.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Prohibited Activities</h3>
      <p class="text-justify">
        By continuing to use this website, you undertake not to engage in any of the following activities:
      </p>
      <ul class="list-disc">
        <li class="ml-4">
          Systematic retrieval of data for the purposes of compiling or collating a database, spreadsheet, directory or
          any other collection of data without prior written permission from us.
        </li>
        <li class="ml-4">
          Deceiving or defrauding us or any other user of the website for any purpose, including but not limited to any
          attempt to gain access to sensitive data or personally identifying information.
        </li>
        <li class="ml-4">
          Using information obtained from or through this website to harass, intimidate, abuse or harm another person
          or legal entity.
        </li>
        <li class="ml-4">
          Uploading or transmitting (or attempting to upload or transmit) malware including viruses, worms, Trojans,
          spyware, ransomware or adware to or via this website.
        </li>
        <li class="ml-4">
          Accessing or attempting to access any part of this website in violation of such security measures as have
          been put in place to restrict access to such part of the website.
        </li>
        <li class="ml-4">
          Accessing or attempting to access any part of this website using automated means with the intention of
          degrading or diminishing the service provided by this website or of denying such service to any other user(s).
        </li>
        <li class="ml-4">
          Collecting by any means the e-mail addresses or other personally identifying information of other users of
          the website for the purposes of sending unsolicited communications to these users.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Intellectual Property</h3>
      <ul class="list-disc">
        <li class="ml-4">
          Unless otherwise specified, all material and content on this website is owned by or licensed to us. This
          material and content includes, but is not limited to, the design, layout, appearance, text and graphics.
          Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these
          terms and conditions.
        </li>
        <li class="ml-4">
          The source code of this website is publicly available under the GNU Affero General Public License, version 3.
          Copying, distribution, modification and use of this source code is permitted only under the conditions and
          with the attribution specified by this license.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">User Submissions</h3>
      <ul class="list-disc">
        <li class="ml-4">
          You agree that any question, comment, statement or other information regarding this website which you
          communicate to us in any manner whatsoever shall become our sole property. We shall own all rights, including
          intellectual property rights, over such information, and shall be entitled to the unrestricted use, copying
          and dissemination of such information. You agree to waive any right to recourse against us for any alleged
          misuse, misappropriation or infringement of copyright resulting from our use, copying or dissemination of
          such information.
        </li>
        <li class="ml-4">
          You warrant that any question, comment, statement or other information regarding this website which you
          communicate to us in any manner whatsoever is your original work or that you have the right to use and
          communicate such information to us.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Third-Party Websites and Content</h3>
      <ul class="list-disc">
        <li class="ml-4">
          This website may include links to other websites. These links are provided for your convenience to provide
          further information. They do not signify that we endorse the linked website(s) or any content or product
          provided on or by means of the linked website(s). We have no responsibility for the content of the linked
          website(s).
        </li>
        <li class="ml-4">
          We are not liable for any actions you take on any other website linked from this website, or for any
          consequences of these actions. You agree to consult the terms and conditions of use of such linked websites
          and to abide by such terms and conditions.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Site Monitoring and Management</h3>
      <ul class="list-disc">
        <li class="ml-4">
          We reserve the right to monitor the activity of any and all users of this website in order to detect
          violations of these Terms and Conditions or of any applicable law or regulation.
        </li>
        <li class="ml-4">
          If you are found or suspected to have violated these Terms and Conditions or any applicable law or
          regulation, we reserve the right to suspend or terminate your account or to restrict access to your account
          without notice.
        </li>
        <li class="ml-4">
          We reserve the right to maintain and manage the website in a manner which protects our rights and property
          and assures the proper functioning of the website.
        </li>
        <li class="ml-4">
          The content of this website is for your general information and use only. It is subject to change or removal
          without notice and at our sole discretion. We are under no obligation to update any content or information
          on this website.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Electronic Communication and Signatures</h3>
      <ul class="list-disc">
        <li class="ml-4">
          You agree to the communication and delivery of announcements and information from us to you by e-mail, and to
          communicate with us in the first instance by e-mail regarding any query, complaint or dispute arising from
          your use of this website or from a violation of these Terms and Conditions. You agree that any and all such
          communications satisfy any legal requirement for written communication.
        </li>
        <li class="ml-4">
          You consent to the binding nature of these Terms and Conditions and of any other legal agreement you enter
          into with us on the sole basis of your continued use of this website, and waive your rights or requirements
          under any statute whatsoever of a material or electronic signature from us on any written communication.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Privacy Policy</h3>
      <p class="text-justify">
        We care about your privacy and the security of your data. Please review the Privacy Policy available at
        <a class="link hover:font-semibold" target="_blank" href="{% url 'privacy-policy' %}">
          www.member-zone.com/about/privacy-policy</a>.
        By continuing to use this website, you agree to the use of your data as described in the Privacy Policy.
      </p>
      <h3 class="text-md pt-2 font-semibold">Disclaimer</h3>
      <ul class="list-disc">
        <li class="ml-4">
          Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness,
          performance, completeness or suitability for any particular purpose of the information and materials found or
          offered on this website, or of the information and materials communicated by us to you in the course of
          operation of this website. You acknowledge that such information and materials may contain inaccuracies or
          errors, and we expressly exclude liability for any such inaccuracies or errors to the fullest extent
          permitted by law.
        </li>
        <li class="ml-4">
          Your use of any information or materials on this website is entirely at your own risk, and we shall not be
          liable for any consequences of your use of such information or materials. It shall be your own responsibility
          to ensure that any products, services or information available through this website meet your specific
          requirements.
        </li>
        <li class="ml-4">
          Neither we nor any third parties provide any warranty or guarantee as to the preservation, integrity or
          completeness of any data stored on our systems or on the systems of any cloud service provider used by us,
          including data communicated by you to us in the course of your use of this website.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Limitations of Liability</h3>
      <ul class="list-disc">
        <li class="ml-4">
          We shall not be liable to you or to any third party for any prejudice, damage or injury sustained as a result
          of your use or misuse of this website, including cases where such prejudice, damage or injury results
          directly or indirectly from any failure or malfunction of the website or any service related to the website,
          or from our actions or negligence or from the actions or negligence of any other user of the website.
        </li>
        <li class="ml-4">
          We shall not be liable to you or to any third party for any prejudice, damage or injury sustained as a result
          of any data breach, or of the loss or corruption of data caused by our actions or negligence or by the
          actions or negligence of any third party, including any cloud service provider used by us.
        </li>
        <li class="ml-4">
          In no event will we be liable to you or to any third party for any direct, indirect, consequential,
          exemplary, incidental, special or punitive damages, including lost profit, lost revenue, loss of data or
          other damages arising from your use of this website, even if we have been advised of the possibility of such
          damages. Our liability to you for any cause whatsoever shall be limited to the amount paid, if any, by you to
          us. Laws in certain jurisdictions do not allow limitations on implied warranties or the exclusion or
          limitation of liability for certain damages. If these laws apply to you, some or all of the previous
          disclaimers and limitations of liability may not apply to you, and you may have additional rights.
        </li>
      </ul>
      <h3 class="text-md pt-2 font-semibold">Indemnification</h3>
      <p class="text-justify">
        You agree to indemnify and hold us harmless from and against any loss, damage, liability or claim, including
        reasonable legal and administration fees, made by any third party due to or arising from your use or misuse of
        this website, including any breach of these Terms and Conditions, any misrepresentation or breach of warranty,
        any violation of the rights of a third party or any harm done to another user of this website by you. We
        reserve the right, at your expense, to assume the exclusive defence and control of any matter for which you are
        required to indemnify us, and you agree to cooperate, at your expense, with our defence of such claims.
      </p>
      <h3 class="text-md pt-2 font-semibold">Governing Law</h3>
      <p class="text-justify">
        Your use of this website and any dispute arising out of such use is subject to the laws of France. Disputes
        shall be brought before a competent court with jurisdiction in Marseille.
      </p>
      <h3 class="text-md pt-2 font-semibold">Dispute Resolution and Arbitration</h3>
      <ul class="list-disc">
        <li class="ml-4">
          To expedite resolution of any dispute, controversy or claim ('dispute/disputes') related to these Terms and
          Conditions brought either by you or by us, you agree to first attempt to negotiate such disputes informally
          for at least thirty (30) days from initial written notice of the dispute before initiating arbitration.
        </li>
        <li class="ml-4">
          Any dispute related to these Terms and Conditions which is not resolved informally within thirty (30) days
          of initial written notice of the dispute may be brought by either party to this agreement before an
          arbitrator chosen in accordance with the Arbitration and Internal Rules of the European Court of Arbitration,
          being part of the European Centre of Arbitration and having its seat in Strasbourg. The seat of arbitration
          shall be Marseille, France, and the language of the proceedings shall be French. Applicable law shall be the
          law of France.
        </li>
        <li class="ml-4">
          Any arbitration shall be limited to the dispute between the individual parties to this contract, and shall
          not be joined to any other litigation or proceeding nor arbitrated on a tort or class-action basis. No such
          dispute shall be brought in a purported representative capacity on behalf of the public or any other person
          or persons.
        </li>
      </ul>
      <p class="text-justify">
        The following disputes are not subject to the above provisions concerning informal negotiation and binding
        arbitration:
      </p>
      <ul class="list-disc">
        <li class="ml-4">
          Any dispute seeking to enforce or protect, or concerning the validity of, the intellectual property rights of
          either party.
        </li>
        <li class="ml-4">
          Any dispute related to, or arising from, allegations of theft, fraud, piracy, invasion of privacy or
          violation of any applicable law.
        </li>
        <li class="ml-4">
          Any claim for injunctive relief.
        </li>
      </ul>
      <p class="text-justify">
        Such disputes shall be decided by a court of competent jurisdiction, and both parties agree to submit to the
        personal jurisdiction of this court.
      </p>
      <h3 class="text-md pt-2 font-semibold">Severability</h3>
      <p class="text-justify">
        If any provision or part of a provision of these Terms and Conditions is deemed to be unlawful, void or
        unenforceable, that provision or part of a provision is deemed severable from these Terms and Conditions and
        the remainder of the Terms and Conditions shall continue to apply.
      </p>
      <h3 class="text-md pt-2 font-semibold">Contact Us</h3>
      <p class="text-justify">
        In order to resolve any complaint regarding this website or dispute regarding these Terms and Conditions,
        please contact us by e-mail:<br/>
        <strong>admin@member-zone.com</strong>
      </p>
    </div>
  </div>
{% endblock %}
