<div class="footer footer-center bg-neutral-content py-4" style="position: fixed; bottom: 0; z-index: 11">
  <p class="text-gray-600 inline px-4">
    Copyright © 2022 Owen M. Jones. All rights reserved.<br/><br/>
    MemberZone uses essential cookies for site functionality. See the
    <a class="underline text-gray-500 hover:text-black" target="_blank" href="{% url 'terms-conditions' %}">terms & conditions</a>
    and
    <a class="underline text-gray-500 hover:text-black" target="_blank" href="{% url 'privacy-policy' %}">privacy policy</a>.
  </p>
</div>