<!--
Copyright 2022 Owen M. Jones. All rights reserved.

This file is part of MemberZone.

MemberZone is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License 
as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

MemberZone is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty 
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with MemberZone. If not, see <https://www.gnu.org/licenses/>.
-->
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% load widget_tweaks %}
{% load djmoney %}

<div id="modal-box" class="modal-box p-4 scrollbar-thin" hx-target="this" hx-swap="outerHTML">
  <button _="on click remove .modal-open from #modal"
          class="btn btn-sm btn-circle absolute right-2 top-2">
    ✕
  </button>
  <h3 class="font-bold text-lg">New membership</h3>
  {% if form.non_field_errors %}
    <div class="mt-2">
      {{ form|as_crispy_errors }}
    </div>
  {% else %}
    <p class="pt-2 pb-4">Enter the details of your subscription below</p>
  {% endif %}
  <form id="my-form" hx-post="{{ request.path }}" _="on submit toggle @disabled on #submit-button">
    {% csrf_token %}
    <div class="grid grid-cols-2 gap-x-4 gap-y-0">
      <div class="col-span-2">{{ form.membership_name|as_crispy_field }}</div>
      <div class="col-span-2">{{ form.website_link|as_crispy_field }}</div>
      <div class="col-span-2">{{ form.membership_number|as_crispy_field }}</div>
      <div>{{ form.membership_type|as_crispy_field }}</div>
      <div>{{ form.renewal_date|as_crispy_field }}</div>
      <div>{{ form.custom_period|as_crispy_field }}</div>
      <div>{{ form.custom_unit|as_crispy_field }}</div>
      <div>{{ form.minimum_term|as_crispy_field }}</div>
      <div>{{ form.free_trial_expiry|as_crispy_field }}</div>
      <div class="grid grid-flow-row auto-rows-auto">
        <div>
          {% render_field form.reminder|add_label_class:"font-bold text-sm" %}
        </div>
        <div>
          {% render_field form.reminder|add_class:"checkbox checkbox-lg checkbox-primary border-gray-400 my-2" %}
        </div>
      </div>
      <div class="col-span-2">
        {% render_field form.cost|add_class:"form-input rounded-lg border-gray-300 mr-1"|as_crispy_field %}
      </div>
    </div>
    <div>
      <button id="submit-button" type="submit" class="btn btn-primary border-none">
        Save
      </button>
    </div>
  </form>
</div>
