{% load static %}

<div class="navbar bg-base-100 w-screen">
  <div class="navbar-start flex flex-1 mr-auto">
    <a href="{% url 'index' %}">
      <img class="w-72" src="{% static 'images/MZ_logo.png' %}" alt="MemberZone logo"/>
    </a>
  </div>
  <div class="navbar-center hidden lg:flex mx-auto">
    <ul class="menu menu-horizontal p-2 text-2xl">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'my-memberships' %}">Memberships</a></li>
      <li><a>About</a></li>
    </ul>
  </div>
  <div class="navbar-end hidden lg:flex flex-1 ml-auto">
    {% if user.is_authenticated %}
      <a id="login-button" href="{% url 'logout' %}" class="btn border-0 w-24 mr-2">Log out</a>
    {% else %}
      <a id="login-button" href="{% url 'login' %}" class="btn border-0 w-24 mr-2">Log in</a>
    {% endif %}
  </div>
  <div class="navbar-end lg:hidden">
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost btn-square mr-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
      </label>
      <ul tabindex="0" class="mt-0 mr-2 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
        <li><a class="text-xl" href="{% url 'index' %}">Home</a></li>
        <li><a class="text-xl" href="{% url 'my-memberships' %}">Memberships</a></li>
        <li><a class="text-xl">About</a></li>
        <li class="divider"></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}" class="text-xl font-bold">Log out</a></li>
        {% else %}
          <li><a href="{% url 'login' %}" class="text-xl font-bold">Log in</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
